---
import { serialize } from 'next-mdx-remote/serialize'
import MDXContent from "../components/MDXContent"

// Fetched MDX content
const mdxContent = 'some *mdx* content: <ExampleComponent />'

const mdxSource = await serialize(mdxContent)
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
	<MDXContent mdxSource={mdxSource} />
    </body>
</html>
